# Устанавливаем правильную кодировку для всех файлов
AddDefaultCharset UTF-8

# Принудительно устанавливаем UTF-8 для HTML и PHP
<IfModule mod_mime.c>
    AddCharset UTF-8 .html .php .css .js
</IfModule>

# Правильные заголовки для CSS и JS
<IfModule mod_headers.c>
    <FilesMatch "\.(css|js)$">
        Header set Content-Type "text/css; charset=UTF-8"
        Header set X-Content-Type-Options "nosniff"
    </FilesMatch>
    <FilesMatch "\.(html|php)$">
        Header set Content-Type "text/html; charset=UTF-8"
    </FilesMatch>
</IfModule>

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # лимиты
    php_value upload_max_filesize 100M
    php_value post_max_size 100M
    php_value memory_limit 256M
    php_value max_execution_time 300
    php_value max_input_time 300

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Handle X-XSRF-Token Header
    RewriteCond %{HTTP:x-xsrf-token} .
    RewriteRule .* - [E=HTTP_X_XSRF_TOKEN:%{HTTP:X-XSRF-Token}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
