.map-wrapper {
  position: relative;
}

/* фон */
.map-wrapper img {
  position: relative;
  z-index: 1;
  pointer-events: none; /* 👈 важно */
}

/* СЕТКА */
.grid-cells {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  grid-template-rows: repeat(60, 1fr);
  z-index: 2;
}

.cell:hover{
  background-color: red;
}

/* МАРКЕРЫ */
.grid-markers {
  position: absolute;
  inset: 0;
  z-index: 3;
  pointer-events: none; /* 👈 мышь ПРОХОДИТ СКВОЗЬ */
}

/* САМ МАРКЕР */
.marker {
  pointer-events: auto; /* 👈 НО САМ МАРКЕР ЛОВИТ */
  cursor: pointer;

  position: absolute;
  width: 36px;
  height: 36px;
  background: red;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 10px;
  font-weight: bold;

  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );

  transform: translate(-50%, -50%);
}

/* hover звезды */
.marker:hover {
  transform: translate(-50%, -50%) scale(1.15);
  box-shadow: 0 0 12px rgba(255, 0, 0, 0.8);
}
